<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<#if menuList ??>
			<#list menuList as parentMenu>
				<dl id="menu-article">
					<dt>
						<i class="Hui-iconfont">${childMenu.icon!'&#xe616;'}</i> ${parentMenu.name}<i
							class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
					</dt>
					<#if parentMenu.children??>
						<dd>
							<ul>
								<#assign children = parentMenu.children>
								<#list children as childMenu>
									<li><a href="${childMenu.url}" title="${childMenu.name}">${childMenu.name}</a></li>
								</#list>
							</ul>
						</dd>
					</#if>
				</dl>
			</#list>
		</#if>
	</div>
</aside>