<#include "/common/meta.html">
<body>
<article class="cl pd-20">
	<form action="/menu/save" method="post" class="form form-horizontal" id="form-save">
		<input type="hidden" name="id" value="${menu.id}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">
				<span class="c-red">*</span>
				菜单等级：
			</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select class="select" size="1" id="level" name="level">
						<option value="1" <#if menu.level == 1>selected</#if>>一级菜单</option>
						<option value="2" <#if menu.level == 2>selected</#if>>二级菜单</option>
					</select>
				</span> 
			</div>
		</div>
		<div class="row cl  <#if !menu?? || menu.level == 1>hide</#if>">
			<label class="form-label col-xs-4 col-sm-3">
				<span class="c-red">*</span>
				上级菜单：
			</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select class="select" size="1" id="parentId" name="parentId" title="二级必选上级">
						<option value="">选择上级</option>
						<#list lv1MenuList as parentMenu>
							<option value="${parentMenu.id}" <#if menu.parentId == parentMenu.id>selected</#if>>${parentMenu.name}</option>
						</#list>
					</select>
				</span> 
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">
				<span class="c-red">*</span>
				菜单名称：
			</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="${menu.name}" placeholder="" id="name" name="name">
			</div>
		</div>
<!-- 		<div class="row cl"> -->
<!-- 			<label class="form-label col-xs-4 col-sm-3"> -->
<!-- 				菜单图标： -->
<!-- 			</label> -->
<!-- 			<div class="formControls col-xs-8 col-sm-9"> -->
<!-- 				<input type="text" class="input-text" value="" placeholder="" id="icon" name="icon"> -->
<!-- 			</div> -->
<!-- 		</div> -->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">
				<span class="c-red">*</span>
				菜单链接：
			</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="${menu.url!'#'}" placeholder="" id="url" name="url">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">
				<span class="c-red">&nbsp;&nbsp;</span>
				描述：
			</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="${menu.description}" placeholder="" id="description" name="description">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">
				<span class="c-red">&nbsp;&nbsp;</span>
				排序：
			</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="${menu.sort}" placeholder="" id="sort" name="sort"  digits="true">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<#include "/common/footer.html">

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
$(function(){
	$('#level').change(function(){
		var lv = $(this).val();
		if(lv == 1){
			$('#parentId').parents('.row').addClass('hide');
			$('#url').val('#');
		}else if(lv == 2){
			$('#parentId').parents('.row').removeClass('hide');
			$('#url').val('');
		}
	});
	
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-save").validate({
		rules:{
			name:{
				required:true,
				minlength:2,
				maxlength:10
			},
			level:{
				required:true
			},
			parentId:{
				required:true
			},
			url:{
				required:true
			}
			
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
		 	$(form).ajaxSubmit();
		 	window.parent.location.reload()
		}
	});
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>